# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

go/TestRunnerFirst.json
ChaosMaster/tests/ConnectionTest.gw.json
ChaosMaster/tests/ConnectionTestSecure.json
ChaosMaster/tests/PerfTest.json
ChaosMaster/tests/amq-send-and-receive.json
ChaosMaster/tests/amq.json
ChaosMaster/tests/simple.json
ChaosMaster/conversions
ChaosAgent/simple.json
.vs/
agent.pb.go
agent_grpc.pb.go
master.pb.go
master_grpc.pb.go

ChaosAgent/tests/
chaos-master-web/package-lock.json
ChaosMaster/repositories/ChaosMasterConfig.json
random.json
.idea/*
/ChaosMaster/database.db
/ChaosMaster/database.db.lock
/ChaosMaster/log.txt
UI/.idea/*
UI/node_modules/*
cmd/master/chaos_master.db.lock
internal/master/repositories/database.db
cmd/master/chaos_master.db
bin/chaos-client.exe~
chaos_master.db
chaos_master.db.lock
